*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.header{
    background-image:url(./img/forest.png);
    position: relative;
}
.martex{
    position: absolute;
    top:50px;
    left: 50px;
}
.nav {
    margin-left: 100px;
  }
  .nav a {
    color: black;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 14px;
    position: absolute;
    top: 50px;
    left:200px;
   
    display: inline;
  }
